/* RESET */

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family:verdana,arial,sans-serif;
    font-size: 13px;
}

img { 
    border:0;
    padding:0;
    margin: 0;
}

.clear {
    clear:both;
    height: 0;
}

/* LAYOUT */
#wrapper {
    padding: 20px 30px;
    width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;    
}

#container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    padding-bottom: 10px;
}

#content {
    width: 800px;
    margin: auto;
}

ul#nav {
    list-style-type: none;
    text-align: center;
    margin-left: 150px;
}

ul#nav li {
    float:left;
    padding: 10px 30px;
}

/* PRINT */
html {
    background: #f7f7f7;
}

#wrapper {
    background-color: white;
    border: 1px solid #DFDFDF;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.readme {
    border-bottom: none;
}

.readme h1{
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
}

.readme a {
    text-decoration: none;
}

.readme img {
    padding-bottom: 10px;
}

.installation {
    text-align: center;
    /*border-bottom:1px solid grey;*/
    /*margin-bottom: 20px;*/
}

ul#nav {
    font-size: 14px;
}

.strong {
    font-weight: bold;
}

.more-stats {
    margin-bottom: 10px;
    font-size: 12px;
}

.margin20 {
    margin: 20px 0;
}

.past {
    background: url("../../images/past.gif") repeat-x scroll 0 32px transparent;
}

.actual {
    background: url("../../images/past.gif") repeat-x scroll 0 32px transparent;
    font-weight: bold;
}

.next {
    background: url("../../images/next.gif") repeat-x scroll 0 32px transparent;
}

.form-table {
    text-align: left;
    background: #F3F3F3;
    padding: 20px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 14px;
}

.form-table table {
    border-spacing: 10px;
}

.form-table th {
    width: 160px;
}

.form-table td.small {
    font-size: 12px;
}

.form-table input {
    font-size: 14px;
    padding: 2px;
}

.requirements_help {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #FFFFCC;
    font-size: 12px;
    padding: 10px 20px;
    text-align: left;
}

.error-location {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    margin: auto auto 20px;
    padding: 10px;
    width: 350px;
    text-align: center;
    background-color: #FF9696;
}

#advanced_install {
    padding-left: 20px;
    width: 100%;
    float: left;
    cursor: pointer;
    color: #444444;
    font-size: 12px;
}

#advanced_install.shrink {
    background: url('../../images/arrow_noexpanded.png') no-repeat;
}

#advanced_install.expanded {
    background: url('../../images/arrow_expanded.png') no-repeat;
}

#advanced_install .text {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 2px;
    width: 95%;
}

.button {
    padding: 8px 14px;
    background-color: #F7F7F7;
    font-size: 14px;
    border: 1px solid #DFDFDF;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #444444;
    cursor: pointer;
    text-decoration: none
}

.button:hover {
    text-decoration: none;
}

.disabled {
    color: #666666;
}

.target {
    width: 100%;
    font-weight: normal;
    color: #666666;
    border-bottom: 1px solid grey;
    margin-top: 0;
}

.welcome {
    width: 125px;
    font-weight: normal;
    color: #666666;
    border-bottom: 1px solid grey;
    font-size: 28px;
}

h2.title {
    color: #444444;
    margin-top: 0;
    border-bottom: 1px solid grey;
}

h3.title {
    color: #444444;
    margin: 0px;
    float:right;
    border-bottom: 1px solid grey;
}

.contact-info {
    margin-left: 20px;
    margin-bottom: 10px;
}

.admin-user {
    margin-left: 20px;
}

div.admin-user {
    margin-bottom: 10px;
    margin-left: 40px;
}

.select-categories {
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
}

.left {
    float:left;
}

.left h3 {
    margin: 0px;
    font-weight: normal;
}

.right {
    float:right;
}

.right a, .right .a:hover {
    /*color: #666666;
    font-weight: bold;*/
    font-size: 14px;
}

table.list-categories {
    font-size: 12px;
    margin-top: 10px;
}

table.list-categories td {
    vertical-align: top;
    width: 252px;
}

.cat-title {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
}

.cat-title span {
    padding-left: 5px;
}

.sub-cat-title {
    font-size: 12px;
    margin-left: 15px;
}

.space {
    padding: 0.5px 0;
}

.finish th {
    width: 100px;
}

.finish p {
    margin-bottom: 7px;
    margin-top: 7px;
}

.space20 {
    padding: 10px 0;
}

#content {
    font-size: 14px;
}

.error {
    color: red;
    padding-left: 5px;
}

.space-left {
    margin-left: 20px;
}

.space-left-10 {
    margin-left: 10px;
}

.space-left-25 {
    margin-left: 25px;
}
.space-left-60 {
    margin-left: 60px;
}

#location {
    margin-left: 50px;
}

#radio-target {
    margin-bottom: 10px;
}

.box {
    background:none repeat scroll 0 0 white;
    padding: 3px 5px;
    width:500px;
    -khtml-box-shadows: inset 0 0 3px #cccccc;
    -moz-box-shadow:inset 0 0 3px #cccccc;
    -webkit-box-shadow:inset 0 0 3px #ccccc;
    box-shadow:inset 0 0 3px #cccccc;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-top: 1px solid #888888;
}

.box input {
    background: none;
    border: none;
}

#country-box, #region-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

#region-info a {
    color: blue;
	text-decoration:underline;
}

#location span {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 3px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid grey;
    margin: 5px;
    background: #F3F3F3;
    float:left;
}

#location input {
    padding-top: 5px;
    margin: 5px;
}

#location span a{
    margin: 0 5px;
    text-decoration: none;
    color: #999999;
}

#lightbox {
    background-color: #fdfdfd;
    opacity: .40;
    filter: alpha(opacity=40);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.center {
    top: 50%;
    left: 50%;
    position: absolute;
}

/* AUTOCOMPLETE */

.ui-autocomplete {
    list-style: none;
    width: 500px;
    background: #F3F3F3;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-left:1px solid #BBBBBB;
    margin: 0;
    float:left;
}

.ui-autocomplete a {
    color: black;
}

.ui-autocomplete a:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.bottom {
    padding-bottom: 10px;
}

.no-bottom {
    margin-bottom: 0;
}

.question {
    margin-top: 15px;
    margin-left: 10px;
}

.question-skip {
   margin-top:2px;
   margin-left:5px;
}

#footer {
    border-top: 1px solid grey;
    margin-left: 5px;
    margin-top: 20px;
    width: 800px;
    height: 10px;
    font-size: 12px;
}

#footer ul {
    list-style-type: none;
    margin-top: 5px;
    float: right;
}

#footer ul li {
    float: left;
    margin: 0 5px;
}

#footer a {
    text-decoration: none;
    color: black;
}

#footer a:hover {
    text-decoration: underline;
}

#resources a{
    text-decoration: none;
    color: blue;
}

#resources a:hover {
    text-decoration: underline;
}

#resources dt {
    padding: 4px 0;
}

#install li {
    padding-bottom: 4px;
}

#location-error {
    color:red;
}

.page-error {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    width: 600px;
    margin: 50px auto;
    padding: 10px 40px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.page-error p {
    font-size: 13px;
    margin: 30px 0 25px;
}

/**
 * Example styles for jQuery.strengthy() plugin.
 */

.strengthy-valid {
    background: rgba(0, 200, 0, 0.7);
}

label.error,
.strengthy-error,
.strengthy-valid {
    display: inline-block;
    padding: 0 2px;
    margin: 0 0 0 5px;
    color: white;
}

.strengthy-error .error {
    background: rgba(200, 0, 0, 0.7);
}

.strengthy-errorr {
    background: rgba(200, 100, 0, 0.7);
}

.strengthy-errorrr {
    background: rgba(200, 200, 0, 0.7);
}

.strengthy-errorrrr {
    background: rgba(100, 200, 0, 0.7);
}

.strengthy-show-toggle {
    padding: 0;
    margin: 0;
}

.s_passwd_input button, .s_name_input button {
    border: 1px solid gray;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-left: 8px;
    padding: 3px 8px;
    background-color: #F7F7F7;
    color: #444444;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}