* { margin: 0; padding: 0; }

body {
	border-top-width: 30px;
	border-top-style: solid;
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
        text-align: center;
}

form {
	padding: 16px 16px 40px 16px;
	font-weight: normal;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
	box-shadow: rgba(200,200,200,1) 0 4px 18px;
}

form .forgetmenot { font-weight: normal; float: left; margin-bottom: 0; }

#login form .submit input {
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	padding: 3px 10px;
	border: none;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
	text-decoration: none;
	margin-top: -3px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
}

#login form p {
	margin-bottom: 0;
}

label {
	color: #777;
	font-size: 13px;
}

form .forgetmenot label {
	font-size: 11px;
	line-height: 19px;
}

form .submit { float: right; }

form p { margin-bottom: 24px; }

#nav {
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}

#backtoblog a {
	position: absolute;
	top: 7px;
	left: 15px;
	text-decoration: none;
}

#login { width: 370px; margin: 3em auto 0 auto; text-align: left;}

.FlashMessage, .message {
	margin: 0 0 16px 0px;
	border-width: 1px;
	border-style: solid;
	padding: 12px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.warning {
    background-color: #FFFFE0;
    border-color: #E6DB55;
}

.FlashMessage {
    background-color:#FFEBE8;
    border-color:#CC0000;
}

#nav { margin: 0 0 0 8px; padding: 16px; }

#user_pass, #user_login, #user_email, #user_language, #user_theme {
	font-size: 24px;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
}

.clear {
	clear: both;
}

html {
	background-color: #f9f9f9;
}

* html input,
* html .widget {
    border-color: #dfdfdf;
}

.highlight {
	background-color: #e4f2fd;
	color: #d54e21;
}

.button-primary,
.submit .button-primary,
#login form .submit input {
	border-color: #298cba !important;
	font-weight: bold;
	color: #FFF !important;
	background: #21759B repeat-x scroll left top;
}

a:active,
a:focus {
	color: #d54e21;
}

a:hover {
	color: #d54e21;
}

.login #backtoblog a {
	color: #ccc;
}

body.login {
	border-top-color: #464646;
}

.login h1 {
    text-align: center;
    margin-bottom: 15px;
}
