
legend {
	font-weight: bold;
	font-variant: small-caps;
}

div.Header {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: x-large;
	font-weight: bold;
	border-bottom: 5px solid #ccc;
}

div.ClearBoth {
	clear: both;
}

div#topBar {
	background-color: #464646;
	padding: 8px;
	color: white;
}

div#topBar a {
	color: #ccc;
	text-decoration: none;
}

div#topBar_left {
	float: left;
}

div#topBar_right {
	float: right;
	text-align: right;
}

select {
	padding: 3px;
}

td.OptionsColumn {
        font-size: small;
        text-align: center;
}
div.FlashMessage {
        margin: 20px;
        margin-bottom: 10px;
        background-color: #FFFFE0;
        border: 1px solid #E6DB55;
        -moz-border-radius: 3px;
        font-size: small;
        padding: 8px;
}
div.Portlet {
        border: 1px solid black;
        -moz-border-radius: 10px;
        background-color: white;
        padding: 0px 10px 0px 10px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 400px;
}
div.Portlet h2 {
        margin-top: 5px;
        text-align: center;
        font-variant: small-caps;
}
div.Theme {
        width: 30%;
        float: left;
        margin: 10px;
}
div.MenuBar {
        background-color: #EAF3FA;
        border: 1px solid #E3E3E3;
        -moz-border-radius: 10px;
        padding: 5px;
        margin-bottom: 15px;
}
div.SubMenu {
        background-color: white;
        display: none;
        border-top: 1px solid gray;
        font-size: small;
}
div.SubMenu a {
        border-bottom: 1px solid #ccc;
}
div.MenuBar a {
        text-decoration: none;
}
body {
        background-color: #F1F1F1;
        margin: 0px;
        font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}
img {
        border: 0px;
}
div#main {
        background-color: white;
        border: 1px solid #666;
        -moz-border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
}
.Button {
        padding: 4px 12px 4px 12px;
        background-color: #2786B9;
        font-size: large;
        border: 1px solid #DFDFDF;
        -moz-border-radius: 20px;
        text-decoration: none;
        color: white;
}
input {
        border: 1px solid gray;
        padding: 4px;
}
table {
        width: 100%;
        border: 1px solid #DFDFDF;
        -moz-border-radius: 5px;
}
td {
        background-color: white;
}
tfoot tr th, thead tr th {
        background-color: #E1EDF6;
}
a, a:hover, a:link, a:visited, a:active {
        color: black;
}
div#footer {
        background-color: #1D507D;
        padding: 10px;
        color: #9BC3D3;
        font-size: small;
        font-style: italic;
}
div#footer a {
        color: white;
        text-decoration: none;
}
div#footer a:hover {
        text-decoration: underline;
}
div.FLeft { float: left; }
div.FRight { float: right; }

div.Options {
        padding: 10px;
        border: 1px solid black;
        -moz-border-radius: 4px;
        background-color: #ddd;
        margin-bottom: 10px;
        font-size: small;
}

