# MAC
.DS_Store

# Git
*.diff
*.patch

# Sublime 2
sftp-config*

# Config OSClass
config.php
oc-includes/osclass/t/config.php

# oc-content
oc-content/debug.log
oc-content/queries.log
oc-content/explain_queries.log
oc-content/uploads/*

# Others
.htaccess
dist
