# MAC
.DS_Store

# Aptana Project Files
.project
.settings/

*.diff
*.patch

.htaccess

# CONFIG OSClass
config.php

.gitignore
dist

# oc-content
oc-content/debug.log
oc-content/queries.log
oc-content/explain_queries.log
oc-content/uploads/*

oc-includes/osclass/t/config.php
