# MAC
.DS_Store

# Git
*.diff
*.patch

# Sublime 2
sftp-config*

# Config Osclass
config.php
oc-includes/osclass/t/config.php
.maintenance

# oc-content
oc-content/debug*.log
oc-content/queries.log
oc-content/explain_queries.log
oc-content/uploads/*

# themes
oc-content/themes/*
!oc-content/themes/modern/

# plugins
oc-content/plugins/*
!oc-content/plugins/index.php
!oc-content/plugins/google_analytics/
!oc-content/plugins/google_maps/

# Intellij IDEA
.idea/*
*.iml

# Others
.htaccess
dist
nbproject/
.sass-cache

# npm
node_modules

# test
oc-includes/osclass/t/config.php
oc-includes/simpletest/test/osclass/custom_config.php
