/* GENERAL */
body {
	padding: 0;
	margin: 0;
	height:100%;
	font-family: Arial, sans-serif;
	font-size: 14px;	
}

select {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding:4px;	
}

textarea {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding:4px;
}

button {
	background-color: gray; 
	color: white;
}

button.formButton {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding:4px;
}

input {
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	padding:4px 4px;
}

h3 {
	margin: 0px;
	padding: 0px;
}

a,
a:active,
a:visited {
	color: #3F3F3F;
}

a:hover {
	color: black;
}

#dt_link  {
	text-decoration: none;
}

#dt_link:hover  {
	text-decoration: none;
}

#dt_link_delete:hover {
	color: red;
}

#content {
	border: 0px solid blue;
	/* padding-bottom:60px; */
	min-height:100%;
	position:relative;
}

#right_column {
	width: 78%;
	float: left;
	height: auto !important;
	position: relative;
	padding-bottom: 20px;

}

#left_column {
	width: 18%;
	margin-right: 20px;
	height: auto !important;
	float: left;
	position: relative;
}
#static  {
    height: 89px;
    position: fixed;
    right: 0;
    top: 350px;
    width: 35px;
    z-index: 1;
}

/* header related styles */
#header {
	width: 100%;
	height: 50px;
	background-color: #464646;
}

#update_version {
	width: 100%;
	height: 20px;
	background-color: #FFFEEB;
        text-align: center;
        font-size: 1.1em;
        padding: 5px 0px;
        border-bottom: 1px solid #CCCCCC;
        color: #555555;
}

#logo {
	padding: 10px 0px 10px 10px;
	color: #eeeeee;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 24px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
	line-height: normal;
	float: left;
}

#hostname {
	padding: 10px 0px 10px 10px;
	color: #999999;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 24px;
	font-size-adjust: none;
	font-style: italic;
	font-variant: normal;
	font-weight: lighter;
	line-height: normal;
	float: left;
}

#arrow {
	padding: 0px 0px 0px 10px;
	color: #999999;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 40px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	float: left;
}

#visit_site {
	margin: 15px 0px 0px 10px;
	padding: 4px 4px 4px 4px;
	/* background-color:#585858; */
	text-shadow:#3F3F3F 0 -1px 0;
	color: #bbb;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 12px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	float: left;
}

#visit_site a {
	text-decoration: none;
	color: #ccc;
}

#user_links {
	padding: 16px 10px 10px 0px;
	color: #AAA;
	font-family: "Verdana";
	font-size: 12px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	float: right;
}

#user_links a {
	color: #CCC;
	text-decoration: none;
}

#user_links a:hover {
	color: #fff;
	text-decoration: underline;
}

/* menu */
#menu {
	width: 99%;
	height: auto !important;
	vertical-align: top;
	padding-bottom: 20px;
}

#menu ul {
	padding: 12px 4px 12px 12px!important;
	font-weight: normal;
	font-size: 12px;
}


#menu h3 {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 13px;
	font-size-adjust: none;
	font-style: italic;
	font-variant: normal;
	font-weight: lighter;
	line-height: normal;
}

#menu a:active {
	color: red;
}

#left_column a,
#left_column a:visited {
	color: #444;
	text-decoration: none;
}

#left_column a:hover {
	color: black;
	text-decoration: none;
}

.content_header {
	border-bottom: 1px dashed #ccc;
}

.content_header_settings_expanded {
	margin-top: 4px;
	border-bottom: 1px solid #ccc;
}

#content_header_arrow {
	margin-left: 10px;
	margin-top: 2px;
	color: #555;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 24px;
	font-size-adjust: none;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	float:left;
}

#content_separator {
	padding-top: 18px;
}
/* main backoffice styles */
#statistics_body,
#last_items_body,
#last_news_body {
	padding: 10px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 14px;
}

/* buttons */
#button_save  {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	border: 1px solid #ccc;
	background-color: #555;
	color: white;
	font-size: 12px;
	text-decoration: none;
	margin-right: 2px;
	padding: 4px 8px 4px 8px;
	cursor: pointer;
}

#button_open {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	border-top: 1px solid #ccc; 
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	background-color: #777; 
	color: white; 
	font-size: 12px; 
	float: right; 
	margin-top: 8px; 
	margin-right: 20px; 
	padding: 4px 8px 4px 8px;	
	text-decoration: none;
	bottom: 0;
	cursor: pointer;
	
}

#button_cancel {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	border: 1px solid #ccc; 
	background-color: #777; 
	color: white; 
	font-size: 12px; 
	text-decoration: none; 
	margin-right: 20px; 
	padding: 4px 8px 4px 8px;	
	cursor: pointer;
}

#main_div {
	padding: 10px;
	background-color: #eee;
	margin-left: 5px;
	margin-right: 5px;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	border-bottom: 1px dotted #999;
	height: auto;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 14px;	
	display: none;
}

#datatables_list_filter input, 
#main_div textarea,
#main_div input {
	border: 1px solid #aaa;
	margin: 2px;
}

.sortable_div {
	width: 48%; 
	padding: 17px 5px 5px 10px;
	float: left;  
	min-height: 550px; 
	height: auto;	
}


/* adding/overwriting our styles over jQuery UI CSS Theme */
.sortable_div .ui-widget-content
{
	min-height: 200px;
	height: auto !important;
	height: 200px; 
	margin: 5px 5px 20px 5px;
}

.sortable_div .ui-state-default {
	margin: 0px; 
	height: 28px; 
	padding: 8px 0px 0px 10px; 
	font-size: 16px;
}

.widget-placeholder { border: 2px dashed #CCC; height: 200px;}  

#sortable_left .widget-placeholder { margin: 5px 5px 20px 10px; }  
#sortable_right .widget-placeholder { margin: 5px 5px 20px 10px; }

ul.ui-accordion-content-active li a.ui-accordion-content-active {
	font-weight: bold;
}

.ui-state-active,
.ui-state-focus {
	background: #ddd;
}

/* separator */
#separator {
	width: auto;
	padding: 10px;
}


/* DataTables related */
#datatables_list_first,
#datatables_list_previous,
#datatables_list_next,
#datatables_list_last,
.paginate_active,
.paginate_button {
	-moz-border-radius: 0px;
	font-family: "Verdana";
	font-size: 12px;
}

#datatables_list_paginate {
	width: 38%;
}

#datatables_list_length,
#datatables_list_filter,
#datatables_list_info,
#datatables_list {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 12px;
}

#datatables_list {
	margin-top: 20px;
}

#datatables_quick_edit {
	display: none;
	font-size: 12px;
	width: auto;
}

#datatable_wrapper {
    	display: none;
        height: 15px;
}

#datatables_quick_edit a {
	color: #1B326F;
}

#TableToolsToolbar {
	padding: 0px;
	margin-top: 0px;
	margin-left: 12px;
	float: left;
}

tr.even td{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	height: 40px;
}

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}

/* footer */
#footer {
	/* position:relative; */
	padding: 0;
	margin: 0;
	bottom:0;
	width: 100%;
	height: 50px;
	background-color: #464646;	
	color: #aaa;
	font-style: italic;
}

#footer a,
#footer a:visited {
	color: #ccc;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
	text-decoration: underline;
}

#footer_left {
	width: 49%;
	float: left;	
	padding-top: 16px;	
	padding-left: 10px;
}

#footer_right {
	width: 49%; 
	float: right;
	text-align: right;
	padding-top: 16px;	
	padding-right: 10px;

}

.FlashMessage {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FFD2CF;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	border: 1px solid red;
	width:100%;
	margin-bottom: 10px;
    margin-top: 10px;
}
.FlashMessage.ok { background-color:#9CDA9B; border: 0px;}
.FlashMessage.info { background-color:#FFF78D; border: 0px;}
.FlashMessage.error { background-color:#FFD2CF; border: 0px;}

.pubMessages {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FFD2CF;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	border: 1px solid red;
	width:100%;
	margin-bottom: 10px;
    margin-top: 10px;
}
.pubMessages.ok { background-color:#9CDA9B; border: 0px;}
.pubMessages.info { background-color:#7EB3DF; border: 0px;}
.pubMessages.error { background-color:#FFD2CF; border: 0px;}
.pubMessages.warning { background-color:#FFF78D; border: 0px;}

.dataTables_empty {
	min-height: 300px;
}

#last_items,
#last_news,
#statistics,
#last_comments  {
	display: none;
}

/* FORMS */
#settings_form {border: 1px solid #ccc; background: #eee;}
#settings_form {padding: 10px;}

.FormElement{clear:both;padding-top:3px;}
.FormElement .FormElementName {line-height:20px;padding:0;margin-right:10px;}
.FormElement .FormElementInput {padding:0;margin:0;}
.FormElement .FormElementInput input{float:left;}
.FormElement .FormElementInput textarea {width:70%;height:140px;}
.clear50{clear:both;margin:50px;}
.clear20{clear:both;margin:20px;}

#TableToolsLinks {
    margin-top: 15px;
    margin-left: 2px;
    font-size: 12px;
}

#maintenance {
    
    position: static;
    top: 0px;
    right: 0px;
    background-color: #bc0202;
    width: 100%;
    height:20px;
    text-align: center;
    color: #fefefe;
}

.close {
    border:0 none;
    float:left;
    margin-right:2px;
    margin-top:-1px;
    text-decoration:none;
}

.close img {
    border: 0;
}

#jsMessage { background:#F90; border-bottom:2px solid #F60; color:#FFF; display:none; font-size:18px; left:0; padding:20px 0; position:fixed; text-align: center; top:0; width:100%; }

.publish_button {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #E6E6E6;
    border: 1px solid #AAAAAA;
    margin: 9px 10px 0 0;
    padding: 6px 10px 7px;
}


.field_li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.field_li.odd {
    background-color: #E6E6E6;
}

.field_li.even {
    background-color: #FFFFFF;
}


#advanced_fields {
    padding-left: 20px;
}

#advanced_fields.expanded {
background: url('../images/arrow_expanded.png') no-repeat;
}

#advanced_fields.shrink {
    background: url('../images/arrow_noexpanded.png') no-repeat;
}

#advanced_fields_iframe {
    padding-left: 20px;
}

#advanced_fields_iframe.expanded {
background: url('../images/arrow_expanded.png') no-repeat;
}

#advanced_fields_iframe.shrink {
    background: url('../images/arrow_noexpanded.png') no-repeat;
}
