/* Global reset by Eric Meyer */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
input:focus { outline:none; }
.clear{
    clear: both;
}
/* adding/overwriting our styles over jQuery UI CSS Theme - dashboard */
.row-action{
    height:40px;
}
.float50per{
    height: auto;
    margin: 0px;
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom:10px;
}
.sortable_div .ui-widget-content {
    margin:0 5px;
}

.sortable_div .ui-state-default {
	margin: 0px; 
	height: 28px; 
	padding: 8px 0px 0px 10px; 
	font-size: 16px;
}

.sortable_div .ui-state-body {
    padding: 5px 10px;
}

.latest-items ul li ul {
    margin-left: 10px;
}

.main-page li {
    margin: 2px 0;
}

.widget-placeholder { border: 2px dashed #CCC; height: 200px; }

ul.ui-accordion-content-active li a.ui-accordion-content-active {
	font-weight: bold;
}

.ui-state-active, .ui-state-focus {
	background: #ddd;
}
/* splt-btn */
/*.splt-btn{
    display:inline-block; width:28px; height:28px;
    background-image:url(../images/split.png);
    text-indent:-9999px;
} */
.splt-btn{
    position: relative;
    display:inline;
    padding:1px;
    margin-right:28px;
    margin-left:5px;
    text-indent:-9999px;
}

.splt-btn span{
    display:block; width:28px; height:28px;
    background-image:url(../images/split.png);
    text-indent:-9999px;
    text-align:left;
    position: absolute; top:-5px;*top:-3px;
    left:0;
}
.splt-btn.logout:hover span{
    background-position:0px -28px;
}
.splt-btn.dashboard:hover span{
    background-position:-28px -28px;
}
.splt-btn.logout span{
    background-position:0px 0px;
}
.splt-btn.dashboard span{
    background-position:-28px 0px;
}
/* Design refactory */
body {
	padding: 0;
	margin: 0;
	height:100%;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 14px;
    background-color:#f2f2f2;
}

#error_list {
    background-color: #f2dede;
    color: #b94a48;
    list-style: none;
    padding: 6px 35px 6px 14px;
    margin: 0px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* header */
#header {
    background-color: #e1e1e1;
    padding: 12px 0 ;
    height:23px;
}
/*
#header:after, #header:before {
    display: table;
    content: "";
}*/

#header:after {
    clear: both ;
}

#site {
    float: left;
    display: inline;
}

#site a, #site a:active, #site a:visited {    
    color: #58595B;
    font-size: 20px;
    text-decoration: none;
    padding: 5px 20px;
}

#site a:hover {
    color: #33CDE0;
}

#header .user {
    float: right;
    display: inline;
    text-align: right;
}

#header .user p {
    color: #58595B;
    padding: 3px 20px;
    font-size: 16px;
}

#header .user a {
    color: #58595B;
    text-decoration: none;
}

#header .user a:hover {
    color: #33CDE0;
    text-decoration: underline;
}

#update_core {
    width: 100%;
    background-color: #FDF5D9;
    border-bottom: 1px solid #EEDC94;
    text-align: center;
    padding: 5px 0px;
    color: #404040;
    line-height: 18px;
}

/* /header */
/* container */
.row{
    display: block !important;
    height:auto !important;
}
table.table{
    clear:none !important;
}
#content {
    clear: both;
    margin-top: 20px;
}
/*
#content:after, #content:before {
    display: table;
    content: "";
}*/

#content:after {
    clear: both ;
}
.datatables{
    padding-bottom:30px !important;

}
/* /container */
/* left menu */
#left-side{
    width: 135px;
    margin-left: 20px;
    float: left;
}
.oscmenu{
    padding-top:10px;
}
.oscmenu a{
    color:#999999;
}
.oscmenu a:hover{
    font-weight:bold !important;
}
.oscmenu li{
    background:#E1E1E1;

    border-radius:8px 0px 0px 8px;
    -moz-border-radius:8px 0px 0px 8px;
    -webkit-border-radius:8px 0px 0px 8px;
    padding:5px 10px;
    margin-top:10px;
    margin-bottom:-5px;
    width:109px;
    border:solid 3px #E1E1E1;
    padding-right:23px;

}
.oscmenu li ul{
    display:none;
}
.oscmenu li li{
    padding:0px;
    margin:2px 0px;
    border:none;
    background-color:transparent;
    font-size:12px;
}
.oscmenu li li a:hover{
    font-weight:normal !important;

}
.oscmenu .current-menu-item{
    background-color:#fff;
    border:solid 3px #E1E1E1;
    border-right-color:#fff;
}

#content .left .dashboard {
    padding-top: 12px;
    margin-bottom: 15px;
}

#content .left .dashboard p {
    background: url('../images/home_icon.gif') no-repeat ;
    padding-left: 25px;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
    margin-left: 5px;
    line-height: 18px;
}

#content .left a, #content .left a:visited, #content .left a:active {
    text-decoration: none;
    color: #555;
}

#content .left a:hover {
    font-weight: 600;
    text-decoration: none ;
    color: black;
}

.left .menu {
    width: 99%;
    height: auto !important;
    vertical-align: top;
}

.left .menu h3 {
    font-size: 12px;
    margin: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

#content .left h3 a:hover {
    font-weight: normal;
}

.left .menu ul {
    padding: 12px 4px 12px 12px!important;
    font-weight: normal;
    font-size: 12px;
}

.left .menu .ui-accordion-content {
    margin-bottom: 0;
    -webkit-border-bottom-left-radius: 0;
       -moz-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
       -moz-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
}
/* /left menu */
/* right container */
.clear{
    clear: both;
}
#content .right {
    background-color:#fff;
    border:solid 3px #E1E1E1;
    margin-left:165px;
    padding:15px 30px 30px 30px;
    margin-right:20px;
    min-height:600px;

    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

#content .header_title {
    padding-top: 5px;
    margin-bottom: 15px;
}

#content .header_title input[type="button"] {
    float: right;
}

#content .header_title h1 {
    padding-left: 40px;
    padding-bottom: 2px;
    border-bottom: 1px dotted #CCC;
    margin-left: 5px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    color: #464646;
}

#content .header_title h1.dashboard {
    background: url('../images/home.png') no-repeat ;
}

#content .header_title h1.settings {
    background: url('../images/settings-icon.png') no-repeat ;
}

#content .header_title h1.currencies {
    background: url('../images/currencies.gif') no-repeat ;
}

#content .header_title h1.media {
    background: url('../images/media-config-icon.png') no-repeat ;
}

#content .header_title h1.users {
    background: url('../images/user-group-icon.png') no-repeat ;
}

#content .header_title h1.admins {
    background: url('../images/admin-icon.png') no-repeat ;
}

#content .header_title h1.plugins {
    background: url('../images/plugins-icon.png') no-repeat ;
}

#content .header_title h1.tools {
    background: url('../images/tools-icon.png') no-repeat ;
}

#content .header_title h1.languages {
    background: url('../images/icon-language.png') no-repeat ;
}

#content .header_title h1.pages {
    background: url('../images/pages-icon.png') no-repeat ;
}

#content .header_title h1.themes {
    background: url('../images/themes-icon.png') no-repeat ;
}

#content .header_title h1.widgets {
    background: url('../images/widget-icon.png') no-repeat ;
}

#content .header_title h1.categories {
    background: url('../images/cat-icon.png') no-repeat ;
}

#content .header_title h1.comments {
    background: url('../images/comments-icon.png') no-repeat ;
}

#content .header_title h1.items {
    background: url('../images/new-folder-icon.png') no-repeat ;
}

#content .right p.info {
    padding-left: 25px;
    background: url('../images/info-icon.png') no-repeat ;
}

#content .right p.ok {
    padding-left: 25px;
    background: url('../images/tick.png') no-repeat ;
}

#content .right p.error {
    padding-left: 25px;
    background: url('../images/cross.png') no-repeat ;
}

/* /right container */
/* footer */
#footer {
    clear: both;
    border-top: 1px solid #DDDDDD;
	margin: 10px;
    padding: 10px 10px 0px 10px;
	color: #555555;
    font-size: 12px;
}
/*
#footer:after, #footer:before {
    display: table;
    content: "";
}
*/
#footer:after {
    clear: both ;
}

#footer_left {
    width: 500px;
    float: left;
    display: inline;
}

#footer_right {
    width: 100px; 
	float: right;
    display: inline;
	text-align: right;
    font-weight: bold;
}

#footer a, #footer a:visited {
    color: #2AA4DB;
    text-decoration: none;
}

#footer a:hover {
    color: #2AA4DB;
    text-decoration: underline;
}
/* /footer */
/* FlashMessage messages */
.FlashMessage,
#error_list{
    padding: 6px 35px 6px 14px;
    margin:0;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.FlashMessage,
#error_list{
    color: #c09853;
}

.FlashMessage .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.FlashMessage.ok {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.FlashMessage.error,
#error_list{
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.FlashMessage.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.FlashMessage-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.FlashMessage-block p {
    margin: 2px 0;
}

.FlashMessage-block > p, .FlashMessage-block > ul {
    margin-bottom: 0;
}

.FlashMessage-block p + p {
    margin-top: 5px;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
#error_list{
    list-style:none;
    display: none;
}
/* /FlashMessage messages */
/* form */
input, textarea, select {
    padding: 3px;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

select {
    width: 220px;
}

select, input[type="file"] {
    height: 24px;
}

input[type="file"] {
    border: 0;
    margin: 0;
}

input.micro, .micro > input {
    width: 30px;
    margin: 0;
}

input.mini, .mini > input {
    width: 60px;
    margin: 0;
}

input.small, .small > input {
    width: 90px;
    margin: 0;
}

input.medium, .medium > input {
    width: 150px;
    margin: 0;
}

input.large, .large > input {
    width: 210px;
    margin: 0;
}

input.xlarge, .xlarge > input {
    width: 270px;
    margin: 0;
}

input.xxlarge, .xxlarge > input {
    width: 530px;
    margin: 0;
}

textarea {
    min-width: 400px;
    margin: 0;
}
/* /form */
/* settings */
.right a, .right a:visited {
    color: #2AA4DB;
    text-decoration: none;
}

.right a:hover {
    color: #F60;
    text-decoration: underline;
}

.right h2, .right h3 {
    margin: 10px 0;
}

.right .settings {
    padding-left: 20px;
}

.right .datatables {
    padding: 0;
}

.right .languages pre, .right .plugins pre, .right .appearance pre {
    width: 80%;
    text-align: center;
    padding: 15px 20px;
    margin: auto;
    border: 1px solid #DDD;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
}

.input-line {
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 13px;
}
/*
.input-line:after, .input-line:before {
    display: table;
    content: "";
}*/

.input-line:after {
    clear: both ;
}

.input-line > label {
    float: left;
    width: 200px;
    padding-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.input-line label {
    display: block;
}

.input-line .input {
    margin-left: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.input-line > .nested {
    margin-left: 222px;
}

.input-line .input input, .input-line .input textarea, .input-line .input select {
    display: inline-block;
    margin: 0;
}

.input .help {
    margin-top: 2px;
    font-size: 12px;
    color: #555555;
}

.input .inline {
    padding-left: 5px;
    display: inline-block;
}

.input .help-inline {
    padding-left: 5px;
    font-size: 12px;
    color: #555555;
    display: inline-block;
}

.input-line .input .radio, .input-line .input .checkbox {
    padding: 2px 0;
    margin-top: 2px;
}

.input-line .input .radio input[type="radio"], .input-line .input .radio input[type="checkbox"] {
    margin-right: 5px;
}

.actions {
    margin-left: 200px;
    margin-bottom: 20px;
}

.actions-nomargin {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="submit"], input[type="button"] {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
           transition: background-position 0.1s linear;
}

input[type="submit"]:focus, input[type="button"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.settings ul {
    list-style: disc;
    margin-left: 25px;
}

.settings ul li {
    margin: 4px 0;
}

.right .permalinks .input-line {
    margin-top: 10px;
    margin-left: 20px;
}

.right .permalinks pre {
    margin: 10px;
    padding: 10px 15px;
    overflow: auto;
    width: 400px;
    max-height: 300px;
    background-color: #F0F0F0;
}
.FlashMessage pre {
    margin: 10px 10px 5px 25px;
    overflow: auto;
    font-weight: bold;
}

p.text {
    margin: 20px 0;
    font-size: 14px;
}

.FlashMessage-inline {
    display: inline-block;
    margin-left: 10px;
    padding: 4px 15px;
    margin-bottom: 0px;
}

.right h2 {
    font-size: 18px;
    font-weight: normal;
}

.right h3 {
    font-size: 16px;
    font-weight: normal;
}

.spambots .recaptcha {
    margin-left: 20px;
    color: #B94A48; 
}
/* /settings */
/* themes *//*
.current-theme:after, .current-theme:before {
    display: table;
    content: "";
}

.current-theme:after {
    clear: both ;
}*/
.current-theme{
    height:140px;
}
.current-theme h3 {
    margin-top: 0px;
}

.current-theme img {
    float: left;
    border: 1px solid #ddd;
    margin-right: 1em;
    margin-bottom: 1em;
    width:240px;
}

.theme {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    overflow: hidden;
    padding: 20px 10px;
    width: 240px;
}

.theme img {
    border: 1px solid #ddd;
    width:240px;

}

.theme h3 {
    font-size: 14px;
    font-weight: bold;
}

.theme-actions {
    margin: 10px 0;
}
/* /themes */
/* widgets */
.widget-sections {
    margin: 0 0 20px 0;
}

.widget-sections ul {
    margin-left: 10px;
}

.widget-sections ul li {
    margin-top: 5px;
}
/* /widgets */
/* custom fields */
.custom-field-frame {
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.custom-field-frame h3 {
    border-bottom: 1px dotted #CCC;
    padding-bottom: 5px;
}

.preset-categories td {
    padding: 0 10px;
    line-height: 14px;
}

.preset-categories input[type="checkbox"] {
    margin-left: 2px;
    margin-right: 5px;
}
.custom-field-frame label.checkbox,
.settings label.checkbox{
    float:left;
}
.languages label.checkbox,
.comments label.checkbox{
    float: none;
}
.users label.checkbox{
    float: left;
    clear: both;
}
.users .input-line,
.users .actions{
    clear:both;
}
.users .input{
    float:left;
    margin-left:0;
}

.users .input .inline{
    float:left;
}
.widgets .input-line{
    clear:both;
}
#advanced_fields, #advanced_fields_iframe {
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 10px;
}

#advanced_fields p, #advanced_fields_iframe p {
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.custom-field-expanded {
    background: url('../images/arrow_expanded.png') no-repeat;
}

.custom-field-shrink {
    background: url('../images/arrow_noexpanded.png') no-repeat;
}

#more-options, #more-options_iframe {
    margin-left: 20px;
}

.actions-cfield {
    margin-bottom: 10px;
    margin-left: 20px;
}

.list-fields {
    margin: 0 20px;
}

.list-fields a {
    cursor: pointer;
}

.list-fields li {
    padding: 5px 0;
}

.cfield-div {
    padding: 5px 5px 5px 0;
    border-bottom: 1px dotted #CCC;
    position:relative;
}
.cfield-div .actions-edit-cfield{
    position: absolute; top:5px; right:5px;
    white-space:wrap;
}
.uneditable-input{
    line-height:19px !important;
}
/*
.cfield-div:after, .cfield-div:before {
    display: table;
    content: "";
}

.cfield-div:after {
    clear: both ;
}

.name-edit-cfield {
    float: left;
}

.actions-edit-cfield {
    float: right;
}*/
/* /custom fields */
/* categories */
.list-categories a {
    cursor: pointer;
}

ul.subcategories {
    margin-left: 20px;
}

.list-categories .category_div {
    border: 1px solid #CCC;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.list-categories li{
    margin-top:2px;
}

div.disabled .category_row {
    background-color: #FFE8E8;
}

.category_row, .iframe-category{
    padding: 5px 10px;
    position: relative;
}
/*
.category_div:after, .category_div:before, .category_row:after, .category_row:before {
    display: table;
    content: "";
}

.category_div:after, .category_row:after {
    clear: both ;
}
*/
.toggle {
    cursor: pointer;
}

.subcategory .toggle {
    display: none;
}

.name-cat {
    /*float: left;*/
    padding-right:300px;
}

.actions-cat {
    float: right;
    position: absolute; right:10px; top:5px;
}

.iframe-category h3 {
    border-bottom: 1px dotted #CCC;
    padding-bottom: 5px;
}
/* /categories */
.categories-tree{
    clear:both;
}
/* table-backoffice-form */
.table-backoffice-form{
    font-size:13px;
}
.table-backoffice-form .labeled{
    width:190px;
    padding-right:10px;
}
.help-box{
    color: #555;
    margin:5px 0;
    font-size:13px;
}
span.help-box{
    padding-left: 5px;
}
.table-backoffice-form td{
    padding-bottom:10px;
}
.table-backoffice-form td div{
    margin-bottom:10px;
}
.table-backoffice-form .additional-options{
    font-size:13px;
    padding-left:15px;
}
.table-backoffice-form .additional-options input{
    height:13px;
    font-size:13px;
}
.table-backoffice-form .separate td{
    padding-top:20px;
}
.actions-permalinks{
    margin-left:220px;
}
/* items */
.show-filters {
    cursor: pointer;
}

.xxlarge .title input {
    width: 400px;
    margin: 0;
}
/* /items */

#c_code_error{
    margin:0 0 10px 0;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid #EED3D7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 13px !important;
    color: #B94A48 !important;
}
.FormButtonsSubmit{
    margin-left:150px;
}
.FormElement{
    padding-bottom:10px;
}
.FormElement label{
    float: left;
    width: 150px;
    padding-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
.statistics .actions-header{
    font-size:12px;
    padding:0 10px 20px 10px;
}
.statistics .ui-state-body table{
    width:100%;
    border:solid 1px #eeeeee;
    margin-top:10px;
}
.statistics .ui-state-body th{
    border:solid 2px #DADADA;
    background-color:#DADADA;
}
.statistics .ui-state-body td,
.statistics .ui-state-body th{
    border:solid 2px #DADADA;
    padding:3px 10px;
}
.locations_box{
    background-color:#f2f2f2;
    padding:20px;
    border: solid 3px #E1E1E1;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.statistics .float50per{
    min-width:440px;
}
#custom_rules{
    clear: both;
    padding-top:20px;
}
/* JQUERY UI */

.ui-widget-overlay{
    background-color:#000000;
    background:#000000;
    opacity:0.7;
}
.ui-dialog{
    border: 5px solid #dadada !important;
    border-radius: 8px !important;
    padding:5px !important;
}
.ui-dialog-titlebar{
    padding: .5em 1em .3em; position: relative !important; 
    background:#dadada !important;

    border:none !important;
    color: #222 !important;
    font-weight: normal !important;
    border-radius:0px !important;

    margin-top: -10px !important;
    margin-left:-10px !important;
    width:100% !important;
    padding: 8px 10px 0 !important;
}
.ui-dialog-content{
    padding:10px !important;
}
.ui-dialog-title{
    padding-bottom:10px;
}

.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.sortable_div .ui-dialog{
    width:auto;
    position: relative;
    margin-right:10px;
}
h3.ui-dialog-titlebar{
    padding:10px !important;
    font-weight:normal;
}

/* Plugin */
#plugin-hook .row{clear: both; float: left; margin-bottom: 10px; width: 100%;}
#plugin-hook .row label {float: left; line-height: 24px; margin-right: 10px; width: 190px; }
#plugin-hook .row input[type="radio"] {
    border: 1px solid #BBBBBB;
    padding: 7px 7px 6px;
    width: 30px;
}
#plugin-hook .has-slider{
    padding-left:180px; 
}