/* Global reset by Eric Meyer */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
input:focus { outline:none; }

/* GENERAL */
body {
	padding: 0;
	margin: 0;
	height:100%;
	font-family: sans-serif;
	font-size: 14px;	
}

select, textarea, input {
	font-family: sans-serif;
	font-size: 14px;
	padding:4px;	
}

button {
	background-color: gray; 
	color: white;
}

button.formButton {
	font-size: 14px;
	padding:4px;
}

input {
	border: 1px solid #ccc;
}

a,
a:active,
a:visited {
	color: #3F3F3F;
}

a:hover {
	color: black;
}

#dt_link  {
	text-decoration: none;
}

#dt_link:hover  {
	text-decoration: none;
}

#dt_link_delete:hover {
	color: red;
}

#right_column {
	width: 78%;
	float: left;
	height: auto !important;
	position: relative;
	padding-bottom: 20px;

}

.content_header {
	border-bottom: 1px dashed #ccc;
}

.content_header_settings_expanded {
	margin-top: 4px;
	border-bottom: 1px solid #ccc;
}

#content_header_arrow {
	margin-left: 10px;
	margin-top: 2px;
	color: #555;
	font-family: sans-serif;
	font-size: 24px;
	font-size-adjust: none;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	float:left;
}

#content_separator {
	padding-top: 18px;
}
/* main backoffice styles */
#statistics_body,
#last_items_body,
#last_news_body {
	padding: 10px;
	font-family: sans-serif;
	font-size: 14px;
}

/* buttons */
#button_save  {
	font-family: sans-serif;
	border: 1px solid #ccc;
	background-color: #555;
	color: white;
	font-size: 12px;
	text-decoration: none;
	margin-right: 2px;
	padding: 4px 8px 4px 8px;
	cursor: pointer;
}

#button_open {
	font-family: sans-serif;
	border-top: 1px solid #ccc; 
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	background-color: #777; 
	color: white; 
	font-size: 12px; 
	float: right; 
	margin-top: 8px; 
	margin-right: 20px; 
	padding: 4px 8px 4px 8px;	
	text-decoration: none;
	bottom: 0;
	cursor: pointer;
	
}

#button_cancel {
	font-family: sans-serif;
	border: 1px solid #ccc; 
	background-color: #777; 
	color: white; 
	font-size: 12px; 
	text-decoration: none; 
	margin-right: 20px; 
	padding: 4px 8px 4px 8px;	
	cursor: pointer;
}

#main_div {
	padding: 10px;
	background-color: #eee;
	margin-left: 5px;
	margin-right: 5px;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	border-bottom: 1px dotted #999;
	height: auto;
	font-family: sans-serif;
	font-size: 14px;	
	display: none;
}

#datatables_list_filter input, 
#main_div textarea,
#main_div input {
	border: 1px solid #aaa;
	margin: 2px;
}

.sortable_div {
	width: 48%; 
	padding: 17px 5px 5px 10px;
	float: left;  
	min-height: 550px; 
	height: auto;	
}


/* adding/overwriting our styles over jQuery UI CSS Theme */
.sortable_div .ui-widget-content
{
	min-height: 200px;
	height: auto !important;
	height: 200px; 
	margin: 5px 5px 20px 5px;
}

.sortable_div .ui-state-default {
	margin: 0px; 
	height: 28px; 
	padding: 8px 0px 0px 10px; 
	font-size: 16px;
}

.widget-placeholder { border: 2px dashed #CCC; height: 200px;}  

#sortable_left .widget-placeholder { margin: 5px 5px 20px 10px; }  
#sortable_right .widget-placeholder { margin: 5px 5px 20px 10px; }

ul.ui-accordion-content-active li a.ui-accordion-content-active {
	font-weight: bold;
}

.ui-state-active,
.ui-state-focus {
	background: #ddd;
}

/* DataTables related */
#datatables_list_first,
#datatables_list_previous,
#datatables_list_next,
#datatables_list_last,
.paginate_active,
.paginate_button {
	-moz-border-radius: 0px;
	font-family: sans-serif;
	font-size: 12px;
}

#datatables_list_paginate {
	width: 38%;
}

#datatables_list_length,
#datatables_list_filter,
#datatables_list_info,
#datatables_list {
	font-family: sans-serif;
	font-size: 12px;
}

#datatables_list {
	margin-top: 20px;
}

#datatables_quick_edit {
	display: none;
	font-size: 12px;
	width: auto;
}

#datatable_wrapper {
    	display: none;
        height: 15px;
}

#datatables_quick_edit a {
	color: #1B326F;
}

#TableToolsToolbar {
	padding: 0px;
	margin-top: 0px;
	margin-left: 12px;
	float: left;
}

tr.even td{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	height: 40px;
}

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}

.FlashMessage {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FFD2CF;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	border: 1px solid red;
	width:100%;
	margin-bottom: 10px;
    margin-top: 10px;
}
.FlashMessage.ok { background-color:#9CDA9B; border: 0px;}
.FlashMessage.info { background-color:#FFF78D; border: 0px;}
.FlashMessage.error { background-color:#FFD2CF; border: 0px;}

.pubMessages {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FFD2CF;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	border: 1px solid red;
	width:100%;
	margin-bottom: 10px;
    margin-top: 10px;
}
.pubMessages.ok { background-color:#9CDA9B; border: 0px;}
.pubMessages.info { background-color:#7EB3DF; border: 0px;}
.pubMessages.error { background-color:#FFD2CF; border: 0px;}
.pubMessages.warning { background-color:#FFF78D; border: 0px;}

.dataTables_empty {
	min-height: 300px;
}

#last_items,
#last_news,
#statistics,
#last_comments  {
	display: none;
}

/* FORMS */
#settings_form {border: 1px solid #ccc; background: #eee;}
#settings_form {padding: 10px;}

.FormElement{clear:both;padding-top:3px;}
.FormElement .FormElementName {line-height:20px;padding:0;margin-right:10px;}
.FormElement .FormElementInput {padding:0;margin:0;}
.FormElement .FormElementInput input{float:left;}
.FormElement .FormElementInput textarea {width:70%;height:140px;}
.clear50{clear:both;margin:50px;}
.clear20{clear:both;margin:20px;}

#TableToolsLinks {
    margin-top: 15px;
    margin-left: 2px;
    font-size: 12px;
}

#maintenance {
    
    position: static;
    top: 0px;
    right: 0px;
    background-color: #bc0202;
    width: 100%;
    height:20px;
    text-align: center;
    color: #fefefe;
}

.close {
    border:0 none;
    float:left;
    margin-right:2px;
    margin-top:-1px;
    text-decoration:none;
}

.close img {
    border: 0;
}

#jsMessage { background:#F90; border-bottom:2px solid #F60; color:#FFF; display:none; font-size:18px; left:0; padding:20px 0; position:fixed; text-align: center; top:0; width:100%; }

.publish_button {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #E6E6E6;
    border: 1px solid #AAAAAA;
    margin: 9px 10px 0 0;
    padding: 6px 10px 7px;
}


.field_li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.field_li.odd {
    background-color: #E6E6E6;
}

.field_li.even {
    background-color: #FFFFFF;
}


#advanced_fields {
    padding-left: 20px;
}

#advanced_fields.expanded {
background: url('../images/arrow_expanded.png') no-repeat;
}

#advanced_fields.shrink {
    background: url('../images/arrow_noexpanded.png') no-repeat;
}

#advanced_fields_iframe {
    padding-left: 20px;
}

#advanced_fields_iframe.expanded {
background: url('../images/arrow_expanded.png') no-repeat;
}

#advanced_fields_iframe.shrink {
    background: url('../images/arrow_noexpanded.png') no-repeat;
}

/* Design refactory started: 30/01/2011 */
/* header */
#header {
    background-color: #222;
    padding: 5px 0 ;
}

#header:after, #header:before {
    display: table;
    content: "";
}

#header:after {
    clear: both ;
}

#site {
    float: left;
    display: inline;
}

#site a {
    padding: 5px 20px;
}

#site a, #site a:active, #site a:visited {    
    color: #BFBFBF;
    font-size: 18px;
    text-decoration: none;
}

#site a:hover {
    background: #333;
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
    color: #FFFFFF;
}

#header .user {
    float: right;
    display: inline;
    text-align: right;
}

#header .user p {
    color: #BFBFBF;
    padding: 3px 20px;
    font-size: 13px;
}

#header .user a {
    color: #CCC;
    text-decoration: none;
}

#header .user a:hover {
    color: #fff;
    text-decoration: underline;
}

#update_core {
    width: 100%;
    background-color: #FDF5D9;
    border-bottom: 1px solid #EEDC94;
    text-align: center;
    padding: 5px 0px;
    color: #404040;
    line-height: 18px;
}

/* /header */
/* container */
#content {
    clear: both;
    margin-top: 10px;
}

#content:after, #content:before {
    display: table;
    content: "";
}

#content:after {
    clear: both ;
}
/* /container */
/* left menu */
#content > .left {
    width: 15%;
    margin-right: 20px;
    height: auto !important;
    float: left;
    position: relative;
}

#content .left .dashboard {
    padding-top: 12px;
    margin-bottom: 15px;
}

#content .left .dashboard p {
    background: url('../images/home_icon.gif') no-repeat ;
    padding-left: 25px;
    padding-bottom: 2px;
    border-bottom: 1px solid #cccccc;
    margin-left: 5px;
    line-height: 18px;
}

#content .left a, #content .left a:visited, #content .left a:active {
    text-decoration: none;
    color: #555;
}

#content .left a:hover {
    font-weight: 600;
    text-decoration: none ;
    color: black;
}

.left .menu {
    font-family: sans-serif;
    width: 99%;
    height: auto !important;
    vertical-align: top;
}

.left .menu h3 {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

#content .left h3 a:hover {
    font-weight: normal;
}

.left .menu ul {
    padding: 12px 4px 12px 12px!important;
    font-weight: normal;
    font-size: 12px;
}

.left .menu .ui-accordion-content {
    margin-bottom: 0;
    -webkit-border-bottom-left-radius: 0;
       -moz-border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
       -moz-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
}

/* /left menu */
/* footer */
#footer {
    clear: both;
    border-top: 1px solid #DDDDDD;
	margin: 10px;
    padding: 10px 10px 0px 10px;
	color: #555555;
    font-size: 12px;
}

#footer:after, #footer:before {
    display: table;
    content: "";
}

#footer:after {
    clear: both ;
}

#footer_left {
    width: 500px;
    float: left;
    display: inline;
}

#footer_right {
    width: 100px; 
	float: right;
    display: inline;
	text-align: right;
    font-weight: bold;
}

#footer a, #footer a:visited {
    color: #2AA4DB;
    text-decoration: none;
}

#footer a:hover {
    color: #2AA4DB;
    text-decoration: underline;
}
/* /footer */
/* alert messages */
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert, .alert-heading {
    color: #c09853;
}
.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}
.alert-ok {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-ok, .alert-ok .alert-heading {
    color: #468847;
}
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
    color: #b94a48;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
    color: #3a87ad;
}
.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
/* /alert messages */