#new_cat_label {
	width: 20%;
	max-width: 160px; 
	float:left;
}

#new_cat_input {
	width: 79%; 
	float:left;
}

#new_cat_input textarea, 
#new_cat_input input, 
#new_cat_input select {
	width: 200px;
}

.sortable, .sortable ul {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

ul.sortable {
/*    border: 1px black solid;*/
    padding: 3px;
}

.category_div {
    border: 1px black solid;
    padding: 5px;
    cursor: pointer;
}

/*.category_li.enabled {
    background-color: #CCFF99;
}*/
.category_div.disabled {
    background-color: #FFAEAE;
}

.sortable li {
    margin: 7px 0 0 0;
    padding: 0;
}

img {
    border: 0;
}

.placeholder {
    border: 1px black dashed;
}

iframe.expand { 
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.edit {
    padding-top: 20px;
    cursor: default;
    display:none;
}
