#new_cat_label {
	width: 20%;
	max-width: 160px; 
	float:left;
}

#new_cat_input {
	width: 79%; 
	float:left;
}

#new_cat_input textarea, 
#new_cat_input input, 
#new_cat_input select {
	width: 200px;
}
.category_li.enabled {
    background-color: #CCFF99;
}
.category_li.disabled {
    background-color: #FFCCCC;
}
