#add_item_form {
    width: 900px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

.left {
    float:left;
}

.right {
    float:right;
}

.column {
    width: 420px;
    padding: 10px;
}

.column h2 {
    border-bottom:1px solid #AAAAAA;
    color:black;
    font-size:18px;
    padding-bottom:2px;
    width:100%;
}

.column select {
    font-size: 13px;
    padding: 1px;
}

.column input {
    font-size: 12px;
}

.column textarea {
    font-size: 13px;
}

.tabbertab label {
    margin-left: 5px;
}

.tabbertab .title input {
    margin: 5px;
    width: 70%;
}

.tabbertab .description textarea {
    margin: 5px;
    width: 95%;
}

.location-post dl,
.contact-post dl {
    margin-left: 10px;
}

.location-post dl dt,
.contact-post dl dt{
    border-bottom: 1px solid #AAAAAA;
    width: 220px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.location-post dl dd,
.contact-post dl dd {
    margin-left: 10px;
}

.location-post dl dd select,
.location-post dl dd input,
.contact-post dl dd select,
.contact-post dl dd input {
    width: 200px;
}

.item-form h2 {
    font-size: 16px;
    border-bottom: 1px solid #CCCCCC;
}

.item-form select {
    font-size: 12px;
    padding: 1px;
}

.item-form div.title,
.item-form div.description{
    margin-top: 10px;
}

.item-form .title input {
    width: 500px;
    font-size: 12px;
    margin: 5px 0;
}

.item-form .description textarea {
    width: 700px;
}

#contact_info {
    margin-top:10px;
}

#contact_info input {
    font-size: 12px;
    width: 250px;
}

.item-form input {
    width: 500px;
}

.item-form input[type="radio"] {
    width: 30px;
}

.item-form textarea {
    width: 700px;
}

.meta {
    clear: both;
    margin: 10px 0;
}

.meta > label {
    float: left;
}

.meta ul {
    margin-left: 130px;
    list-style: none;
    padding: 0;
}

.meta ul li {
    margin-left: 0;
}

.meta ul li label {
    float: none;
}

/* UNIFORM */

.item-form label { float:left; line-height:24px; margin-right:10px; width:120px; }

.item-form .row {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

/*
Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
*/

/* Select */
div.selector { border:1px solid #b4b4b4; line-height: 26px; height: 26px; margin-right:10px; }
div.selector span {  background:url(../images/select_arrow.gif) no-repeat right 11px; height: 26px; line-height: 26px; }
div.selector select { top: 0px; left: 0px; }
div.selector.hover, 
div.selector:hover {  }
div.selector.hover span, 
div.selector:hover span { background-position: right -29px; }
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {  }
div.selector:hover:active span,
div.selector.active:hover span { background-position: right -29px; }
div.selector.disabled {  }
div.selector.disabled span {  }
div.button { background:#eeeeee url(../images/button_bg.gif) repeat-x top; border:1px solid #cacaca; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
div.button span { background-position: right -643px; }
div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover { background-position: 0px -553px; }
div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span { background-position: right -673px;  }
div.button.active,
div.button:active { background-position: 0px -583px; }
div.button.active span,
div.button:active span { background-position: right -703px; color: #555; }
div.button.disabled,
div.button:disabled { background-position: 0px -613px; }
div.button.disabled span,
div.button:disabled span { background-position: right -733px; color: #bbb; cursor: default; }

/* PRESENTATION */
/* Button */
div.button { height: 26px; }
div.button span { margin-left: 13px; height: 18px; padding-top: 8px; font-weight: bold; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; text-transform: uppercase; padding-left: 2px; padding-right: 15px; }
/* Select */
div.selector { width: 338px; font-size: 12px; }
div.selector select { min-width: 338px; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; border: solid 1px #fff; }
div.selector span { padding: 0px 25px 0px 2px; cursor: pointer; }
div.selector span { color: #000; width: 306px; }
div.selector.disabled span { color: #bbb; }

/* ._200 */
div._200 div.selector{ width: 200px; font-size: 12px; }
div._200 div.selector select{ min-width:200px; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; border: solid 1px #fff; }
div._200 div.selector span { color: #000; width: 164px; }

div._200 input { width:200px; }
div._20 input { width:20px; }

/* .auto */
div.auto div.selector{ width: auto; font-size: 12px; background-color: white;}
div.auto div.selector select{ min-width:0; font-family: Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif; font-size: 12px; border: solid 1px #fff; }
div.auto div.selector span { color: #000; width: auto; }

/*
CORE FUNCTIONALITY 
Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector, 
.checker, 
.button, 
.radio, 
.uploader {  background-color: white; display: -moz-inline-box; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }
.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus { outline: 0; }
/* Button */
div.button a,
div.button button,
div.button input { position: absolute; top:-9999px; }
div.button { cursor: pointer; position: relative; z-index:1; }
div.button span { display: -moz-inline-box; display: inline-block; line-height: 1; text-align: center; }
/* Select */
div.selector { position: relative; padding-left: 10px; overflow: hidden; }
div.selector span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
div.selector select { position: absolute; opacity: 0; filter: alpha(opacity:0); height: 25px; border: none; background: none; width:95%; }


/* Uploader */

div.uploader {
  border: 1px solid #BBBBBB;
  background-position: 0px -297px;
  height: 28px;
}

div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
}

div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 2px 0px 2px 2px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -353px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -437px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -465px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -493px;
}

div.uploader.disabled {
  background-position: 0px -325px;
}

div.uploader.disabled span.action {
  background-position: right -381px;
}

div.button {
  background-position: 0px -523px;
}

div.button span {
  background-position: right -643px;
}

div.button.focus,
div.button:focus,
div.button:hover,
div.button.hover {
  background-position: 0px -553px;
}

div.button.focus span,
div.button:focus span,
div.button:hover span,
div.button.hover span {
  background-position: right -673px; 
}

div.button.active,
div.button:active {
  background-position: 0px -583px;
}

div.button.active span,
div.button:active span {
  background-position: right -703px;
  color: #555;
}

div.button.disabled,
div.button:disabled {
  background-position: 0px -613px;
}

div.button.disabled span,
div.button:disabled span {
  background-position: right -733px;
  color: #bbb;
  cursor: default;
}


/* Uploader */
div.uploader {
  width: 190px;
  cursor: pointer;
}

div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}

div.uploader span.filename {
  color: #777;
  width: 82px;
  border-right: solid 1px #bbb;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}

/* Uploader */

div.uploader {
  position: relative;
  overflow: hidden;
  cursor: default;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

div.uploader input {
  opacity: 0;
  filter: alpha(opacity:0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 25px;
  border: none;
  cursor: default;
}
