 .lightbox_country {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 192px;
        border: 4px solid grey;
        margin: -100px 0 0 -180px;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
    .location h4 {
        margin: 0;
        padding:5px 10px;
        font-size: 18px;
        color: white;
        background: #333333;
    }
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.78;
        -webkit-opacity: 0.78;
        -khtml-opacity: 0.78;
        opacity:.78;
        filter: alpha(opacity=80);
    }

    .locations a.edit {
        text-decoration: none;
        display: inline;
        padding-top: 0;
    }

    a.edit:hover{
        background: url('../images/edit.png') no-repeat right;
    }