#new_item_row {
	padding: 5px;
}

#new_item_label {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 14px;
	width: 20%;
	max-width: 160px; 
	float:left;
}

#new_item_input {
	width: 79%; 
	float:left;
}

#new_item_row .item_price,
#new_item_row .item_zipcode {
	width: 80px;
}

#new_item_row input, 
#new_item_row select, 
#new_item_row textarea {
	border: 1px solid #ccc;
	width: 300px;
	height: 20px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;;
	font-size: 14px;
}

#new_item_section_header {
	border-bottom: 1px solid #999;
	width: 100%;
	position: relative;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;;
	font-size: 20px;
	margin-bottom: 10px;
}

#new_item_row #item_date {
	width: 100px;
}

#new_item_row #item_description {
	height: 100px;
}

#new_item_div input {
	border: 1px solid #ccc;
	margin: 2px;
}

#new_item_save {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	border: 1px solid #ccc;
	background-color: #555;
	color: white;
	font-size: 12px;
	text-decoration: none;
	margin-right: 2px;
	padding: 4px 8px 4px 8px;
}

.ui-datepicker {
	font-family: Tahoma,"Times New Roman","Bitstream Charter",Times,serif;;
	font-size: 12px;
}

#error_list {
    background: none repeat scroll 0 0 #FEFBEA;
    border: 1px solid #F7F7F7;
    display: none;
    margin-bottom: 15px;
    padding: 5px;
}
#error_list li {
    background: url("../images/icon-remove.png") no-repeat scroll left center transparent;
    list-style: none outside none;
    padding: 2px 0 2px 18px;
}
#error_list label {
    float: none;
    line-height: 1.35em;
    width: auto;
}