#new_user_label {
	margin-bottom: 5px;
	width: 180px; 
	float:left;
}

#new_user_input {
	margin-bottom: 5px;
	width: 300px; 
	float:left;
}
#new_user_input input {
	width: 200px;
	height: 18px;
}
#new_user_input textarea {
	margin-left: 2px;
	width: 200px;
	height: 60px;
}

#settings_form input[type='text'],
#settings_form input[type='password']  {
	width: 94%;
}

fieldset {
	min-height: 34px;
	margin: 10px;
	background-color: #efefef;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

legend {
	padding-left: 6px;
	padding-right: 6px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #454545;
}