.action-btn{
	padding:9px 10px;
	background-color: @color-gray-soft;
	margin:0px 10px;
	height:14px;
	font-size:14px;
	line-height:14px;
	border:solid 1px @color-gray-dim;
	.rounded-corners;
	text-decoration:none;
}
.action-btn-black{
	background: @color-gray-hardblack;
	border-color: @color-gray-dim;
	color: @color-gray-ash;
}
.action-btn-black:hover{
	background-color: @color-black;
}
.circle{
	.rounded-corners(15px);
	min-width:18px;
	height:16px;
	font-size:12px;
	padding-top:2px;
	float:left;
	background:white;
	position: relative;
	margin-top:-3px;
	margin-left:-2px;
	text-align:center;
	margin-right:8px;
	font-style:normal;
	background-color: @color-gray-ash;
	color:@color-gray-dim;
	border:solid 1px @color-gray-dim;
}
.circle-red{
	.error-color;
}
.circle-green{
	.submit-color;
}
.btn-icon-black{
	float:left;
	background-color: @color-gray-hardblack;
	height:32px;
	width:32px;
	border:solid 1px @color-gray-dim;
	.rounded-corners;
	text-decoration:none;
}
.btn-icon-black:hover{
	background-color: @color-black;
}
.float-left{
	.float-l;
}
.float-right{
	.float-r;
}