
.RemovePhoto { margin-left: 5px; font-size: small; }

.LogoOS { color: #21759b; }
.LogoClass { color: #464646; }

body {
	font-size: large;
}

a, a:hover, a:link, a:visited, a:active {
	color: #FF9100;
}

.header {
	background-color: #80C9FF;
	padding: 10px;
	color: white;
}

.headerTitle { float: left; }
.headerTitleLink { color: white; text-decoration: none; }
.headerLocales { float: right; }
.headerOptions { 
	font-size: small;
	padding-left: 15px;
	margin-bottom: 20px;
}

.categoryHeader { font-size: x-large; }
.categoryLink {
	font-size: small;
	color: blue;
}
.categoryList { font-size: small; }
.itemInCategory {
	padding: 4px;
	border: 2px solid white;
}
.itemInCategoryData {
	float: left;
	width: 70%;
}
.itemInCategoryPrice {
	float: right;
	text-align: right;
	width: 15%;
	font-weight: bold;
}

.footer {
	text-align: center;
	background-color: #80C9FF;
	padding: 10px;
	width: 100%;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
}
.footerPages {
	font-size: small;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.userItem {}
.userItemButtons {}
.userIteMData {}

.searchListItem {
	padding: 2px;
	border: 1px solid white;
}
.searchListImageLink {
	border: 0px;
	float: left;
	width: 140px;
}
.searchListItemData {
	float: left;
	width: 70%;
}
.searchListLink { color: blue; }
.searchListItemPrice {
	float: right;
	text-align: right;
	width: 15%;
	font-weight: bold;
}

.searchGalleryItem {
	overflow: hidden;
	float: left;
	width: 200px;
	height: 320px;
	padding: 4px;
	border: 2px solid white;
}
.searchGalleryImageLink {
	border: 0px;
	width: 140px;
}
.searchGalleryLink {
	color: blue;
}

.homeSearch { }
.homeCategories {
	float: right;
	width: 75%;
	text-align: center;
}
.Category {
	width: 220px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.Category a {
	color: black;
	font-size: small;
	text-decoration: none; 
}
.CategoryHead {
	background-color: #BFE4FF;
	-moz-border-radius: 0px 10px 0px 10px;
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
}

.homeLatestItems {
	float: left;
	width: 15%;
}
.homeLatestItemsList { font-size: x-small; }

.itemContent { float: left; }
.itemDate { font-size: small; }
.itemContact { float:right; }-moz-border-radius
.itemButtons { font-size: small;}
.commentHolder {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	margin-bottom: 20px;
}
.commentHeader {
	border-bottom: 1px solid orange;
	font-weight: bold;
	padding: 5px;
}
.commentData {
	font-size: small;
	padding: 5px;
}
.commentContent {
	border-top: 1px solid #ccc;
	padding: 15px;
	font-size: small;
}
.helpHolder {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	margin-bottom: 20px;
}
.helpHeader {
	border-bottom: 1px solid green;
	font-weight: bold;
	padding: 5px;
}
.helpContent {
	border-top: 1px solid #ccc;
	padding: 5px;
	font-size: small;
}

.sectionHeader {
	font-size: x-large;
	margin-bottom: 15px;
}
.searchPagination {
	text-align: center;
	font-size: small;
}
.searchPaginationSelected {
	padding: 3px;
	color: white;
	border: 1px solid #4EA9FF;
	background-color: #4EA9FF;
}
.searchPaginationNonSelected {
	padding: 3px;
	color: blue;
	border: 1px solid #4EA9FF;
	background-color: white;
}
.searchShowing {
	margin-top: 25px;
	font-size: large;
}
.searchOptions {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid gray;
	font-size: small;
}
.searchGalleryList { float:left; }
.searchOrder { float:right; }
.searchFormHolder { margin-top: 20px; }
.searchForm {
	font-size: small;
	padding: 5px;
	float: left;
	width: 20%;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	margin-right: 20px;
}
.searchResults {
	float: left;
	width: 70%;
}

.itemFormHolder { align: center; }
.itemForm {
	width: 900px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	align: left;
}
.itemFormLeft {
	float:left;
	width: 449;
	padding: 10px;
	border-right: 0px solid #ddd;
}
.itemFormHeader {
	font-size: 20px;
}
.itemFormContent {
	margin-top: 30px;
	padding: 20px;
	background-color: #eee;
}
.itemFormRight {
	float: left;
	width: 400px;
	padding: 10px;
	backgroung-color: #eee;
}
.itemFormButtons {
	align: center;
	margin-top: 30px;
	padding: 20px;
	background-color: #eee;
}
.itemFormButton {
	background-color: orange;
	color: white;
}





input, textarea {
	border: 1px solid #CCCCCC;
	padding: 6px;
}


-moz-border-radius

a.Lang {
	color: yellow;
	text-decoration: none;
}

div.FlashMessage {
	background-color: #BFE4FF;
	padding: 4px;
	margin-bottom: 10px;
	color: #00487D;
	text-align: center;
}

