/*
Syntax error: Undefined variable: "$widgetbordercolor".
        on line 19 of /Users/htdocs/dijualmurah.com/oc-content/themes/bender/sass/sidebar.scss

Backtrace:
/Users/htdocs/dijualmurah.com/oc-content/themes/bender/sass/sidebar.scss:19
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/script/variable.rb:49:in `_perform'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/script/node.rb:40:in `perform'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/script/list.rb:70:in `_perform'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/script/list.rb:69:in `_perform'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/script/node.rb:40:in `perform'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.8/lib/sass/engine.rb:262:in `render'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:60:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:59:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:58:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:343:in `clean_project'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/app.rb:178:in `get_stdout'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:339:in `clean_project'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/app.rb:207:in `try'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:338:in `clean_project'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:331:in `clean_project_handler'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:71:in `run'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/main.rb:115:in `run_tray'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/main.rb:131:in `(root)'
org/jruby/RubyKernel.java:1062:in `require'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/main.rb:1:in `(root)'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$widgetbordercolor\".\A         on line 19 of /Users/htdocs/dijualmurah.com/oc-content/themes/bender/sass/sidebar.scss"; }
