body {
	height:100%;
	padding: 0;
	margin: 0;
}

#container {
	width: 100%;
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	/*position: absolute;
	padding: 0;
	margin: 0; */
}

#content {
	width: 980px;
	padding: 0;
	margin: 0;
	min-height: 68%;
	height: auto !important;
	height: 68%;
	/* margin-bottom: 20px; */
	/*border-right: 1px solid #ccc;
	border-left: 1px solid #ccc; */
}

#header {
	background-color: #464646;
	height: 90px;
	/* padding: 10px; */
	/* color: white; */
}


#header_content {
	position: relative;
	width: 980px;
	padding-top: 10px;
	/* margin-top: 10px; 
	border: 1px solid red; */
	height: auto !important;
}

#search_content {
	width: 980px;
	padding-top: 8px;
}

#search_left,
#header_left {
	float: left;
	/* border: 1px solid blue; */
}

#search_left {
	padding-left: 10px;
}

#search_right,
#header_right {
	float: right;
	/* border: 1px solid blue; */
}

#header_right {
	position: absolute;
	right: 0;
}

#header_lang_menu {
	font-size: 10px;
	color: #ccc;
	font-family: Verdana;
	float: left;
	background-color: #555;
	padding: 0px;
	position: relative; 
	border-bottom: 1px solid #444;
}

#header_user_menu a,
#header_lang_menu a {
	font-size: 10px;
	color: #ccc;
	font-family: Verdana;
}

#header_title {
	margin-top: 8px;
	padding-left: 10px;
	font-size: 40px;
	font-style: italic;
	font-family: Georgia,Times,"Times New Roman",serif;
	
}

#header_title a {
	color: #ccc;
	text-decoration: none;
}

#header_user_menu {
	font-size: 10px;
	color: #ccc;
	font-family: Verdana;
	float: left;
	margin-right: 10px;
	padding: 4px;
	background-color: #444;
}

#search {
	background-color: #E4F2FD;
	border-bottom: 1px solid #C6D9E9;
	height: 60px;
}

#login {
	background-color: white;
	border-bottom: 1px solid #C6D9E9;
	height: 80px;
	display: none;	
}

#login_username,
#login_password,
#login_button {
	float: left;
}

#login_content {
	border: 0px solid black;
	padding-top: 20px;
	width: 500px;
	
}

#login_content button,
#login_content label {
	font-family: Tahoma;
	font-size: 12px;
	margin-left: 4px;
}
#login_content label {
	display: inline-block; 
	width: 100px;
}
#login_content input {
	border: 1px solid #ccc;
}

#login_content input:hover {
	border: 1px solid #aaa;
}

#register_form textarea,
#register_form input,
.search_input {
	border: 1px solid #ccc;
	height: 20px;
	width: 200px;
	font-family: Tahoma;
	font-weight: lighter;
	font-size: 12px;
}

#register_form textarea {
	height: 100px;	
}

.search_button  {
	margin-left: 10px;
	width: 80px;
	height: 24px;
	cursor: pointer;
	padding: 0px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	background: #ffffff;
}

#search_post_yours {
	cursor: pointer;
	height: 30px; 
	border: 3px solid white; 
	background-color: #F38527; 
	font-weight: bold; 
	padding-top: 8px; 
	font-family: tahoma;
	padding-left: 8px;
	padding-right: 8px;
}

#search_post_yours a {
	text-decoration: none; 
	color: white;
}

#search_no_result {
	width: 100%; 
	min-height: 200px; 
	margin-top: 20px; 
	margin-bottom: 20px; 
	height: 100%; 
	border: 2px dashed #ccc; 
	vertical-align: middle; 
	text-align: center; 
	padding-top: 16%;
	background-color: #EEEFB3;
	font-size: 40px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.userItem,
.searchListItem {
	width: 100%; 
	border-bottom: 1px solid #ccc; 
	margin-top: 20px; 
	position: relative;
}

#item_contact_seller,
#item_send_friend,
.userItemButtons,
.searchListItemPrice {
        float: right;
        margin: 2px 5px;
	bottom: 1px; 
	background-color: green; 
	padding: 4px; 
	font-size: 10px; 
	font-family: tahoma; 
	color: white; 
	font-weight: bold;
}

.userItemData,
.searchListItemData {
	width: 100%; 
	border: 1px solid #ccc; 
	background-color: #eee; 
	margin-top: 10px; 
	position: relative;
}

#user_item a,
.searchListLink {
	text-decoration: none;
	font-family: Georgia,Times,"Times New Roman",serif;
	font-size: 16px;
}

#user_item a:hover,
.searchListLink:hover {
	color: #007BBF;
}

#user_item_delete {
	background-color:red;
}

#item_contact_seller,
#item_send_friend {
	background-color: #F38527;
}
#item_contact_seller a,
#item_send_friend a,
#user_item_delete a {
	font-size: 10px; 
	font-family: tahoma; 
	color: white; 
	font-weight: bold;
}

#item_contact_seller a:hover,
#item_send_friend a:hover,
#user_item_delete a:hover {
	color: white;
}

#item_desc_body {
	width: 100%;
	position: relative;
}

#item_images {
	margin-top: 10px;
	float: left;
	width: 420px;
	border: 0px solid black;
	padding: 4px;
}

#item_desc {
	margin-top: 10px;
	float: left;
	width: 540px;
	border: 0px solid black;
	padding: 4px;
}

#item_title {
	font-family: Georgia,Times,"Times New Roman",serif;
	font-size: 18px;
	font-weight: bold;
        float: left;
}

#item_actions {
	margin-top: 10px;
	text-align: right; 
	font-size: small;
	padding: 4px;
}

#item_spam:hover {
	background-color: red;
	color: white;
}

#item_bad_category:hover {
	background-color: red;
	color: white;
}

#item_price {
	float: right;
	text-align: right;
	border: 1px solid white;
	width: auto;
	padding: 10px;
	font-size: 30px;
	background-color: #888;
	font-family: Georgia,Times,"Times New Roman",serif;
	color: white;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	
}
#item_offensive:hover {
	background-color: red;
	color: white;
}

#home_header {
	text-align: center;
}

#home_header div {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #888;
	font-family: Georgia,Times,"Times New Roman",serif;
	font-size: 34px;	
}

#category {
	float: left; 
	width: 310px; 
	padding: 8px; 
	border: 0px solid red;	
	margin-bottom: 10px;
}

#register_form {
	background-color:#E4F2FD;
	font-size: 16px;
	font-family: Georgia,Times,"Times New Roman",serif;
	width: 300px; 
	border: 2px solid #aaa; 
	-moz-border-radius: 8px; 
	padding: 4px;
        margin-bottom: 40px;
}

#add_item_form {
    width: 900px; 
    margin-bottom: 20px; 
    padding: 10px; 
    border: 1px solid #ddd;
    text-align: left;
}

#add_item_form button,
#register_form button {
	cursor: pointer;
	width: 200px;
	border: 0;
	height: 30px;
	border-bottom: 1px dashed #ccc;
	background-color: #FAFFCF;
	font-weight: bold;
	font-family: tahoma;
	font-size: 12px;
	
}
.category_header {
	cursor: pointer;
	font-family: Georgia,Times,"Times New Roman",serif;
	-moz-border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 24px;
	padding: 4px;
	text-align: center;
	margin-bottom: 10px;
	text-decoration: none;
}

.category_body {
	cursor: pointer;
	font-family: verdana;
	border-bottom: 1px solid #eee;
	margin-bottom: 8px;
	padding-left: 4px;
	padding-bottom: 4px;
	font-size: 12px;
}

.category_header a,
.category_body a {
	text-decoration: none;
}

.clear {
	clear: both;
}

#footer {
	background-color: #E4F2FD;
	border-top: 1px solid #C6D9E9;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	font-size: 12px;
	font-family: Georgia,Times,"Times New Roman",serif;
	color: #464646;
	font-style:italic;
}

a, a:hover, a:link, a:visited, a:active {
	color: black;
}

#clang {
	padding: 4px; 
	position: relative; 
	width: 100px; 
	cursor: pointer; 
	font-weight: bold; 
	border-bottom: 1px solid #444;
}

#langs {
	padding: 4px; 
	position: relative; 
	display:none; 
	background: #5A5A5A; 
	border-top: 1px solid #666; 
}

#lang_container {
	padding: 2px;
}

#lang_container a {
	text-decoration: none;
}

#FlashMessage {
    text-align: center;
    margin: 3px;
}


.sectionHeader {
	font-size: x-large;
	margin-bottom: 15px;
}
.searchPagination {
	text-align: center;
	font-size: small;
}
.searchPaginationSelected {
	padding: 3px;
	color: white;
	border: 1px solid #4EA9FF;
	background-color: #4EA9FF;
}
.searchPaginationNonSelected {
	padding: 3px;
	color: blue;
	border: 1px solid #4EA9FF;
	background-color: white;
}
.searchShowing {
	margin-top: 25px;
	font-size: large;
}
.searchOptions {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid gray;
	font-size: small;
}
.searchGalleryList { float:left; }
.searchOrder { float:right; }
.searchFormHolder { margin-top: 20px; }
.searchForm {
	font-size: small;
	padding: 5px;
	float: left;
	width: 20%;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	margin-right: 20px;
}
.searchResults {
	float: left;
	width: 70%;
}

.left {
    float:left;
}

.right {
    float:right;
}

.column {
    width: 420px;
    padding: 10px;
}

.column h2 {
    border-bottom:1px solid #AAAAAA;
    color:black;
    font-size:18px;
    padding-bottom:2px;
    width:100%;
}

.column select {
    font-size: 13px;
    padding: 1px;
}

.column input {
    font-size: 12px;
}

.column textarea {
    font-size: 13px;
}

.tabbertab label {
    margin-left: 5px;
}

.tabbertab .title input {
    margin: 5px;
    width: 70%;
}

.tabbertab .description textarea {
    margin: 5px;
    width: 95%;
}

.location-post dl,
.contact-post dl {
    margin-left: 10px;
}

.location-post dl dt,
.contact-post dl dt{
    border-bottom: 1px solid #AAAAAA;
    width: 72%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.location-post dl dd,
.contact-post dl dd {
    margin-left: 10px;
}

.location-post dl dd select,
.location-post dl dd input,
.contact-post dl dd select,
.contact-post dl dd input {
    width: 70%;
}

#showEmail {
    margin-top:10px;
    width:auto;
}

.itemFormHolder { align: center; height: auto; }
.itemForm {
	width: 900px;
    height: 1300px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	align: left;
}
.itemFormLeft {
	float:left;
	width: 449;
	padding: 10px;
	border-right: 0px solid #ddd;
}
.itemFormHeader {
	font-size: 20px;
}
.itemFormContent {
	margin-top: 30px;
	padding: 20px;
	background-color: #eee;
}
.itemFormRight {
	float: left;
	width: 400px;
	padding: 10px;
	backgroung-color: #eee;
}

#password-error {
    color:red;
}

#search-error {
    color: red;
    font-size: 0.9em;
    padding-left: 10px;
}