$text-color-contrasted: false;
$maincolor: #35C3D9;
$text-color-contrasted: #fff;
$buttonDarken: 5%;
$textcolor:#333;
$linkcolor:#069;
$contrasted-default-dark:   #000;
$contrasted-default-light:  #fff;
$contrasted-default-extremelight: #35c3d9;
$widgetbackground: #f7f7f7;
$widgetbordercolor: darken($widgetbackground,5%);