#new_page_label {
	width: 20%;
	max-width: 160px; 
	float:left;
}

#new_page_input {
	width: 79%; 
	float:left;
}

#new_page_input textarea, 
#new_page_input input, 
#new_page_input select {
	width: 200px;
}

#pages_desc {
	border: 1px solid #ccc;
	padding: 8px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 14px; 
	margin-bottom: 15px;
}

fieldset {
	min-height: 36px;
	margin: 10px;
	background-color: #efefef;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

legend {
	padding-left: 6px;
	padding-right: 6px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #454545;
}

#button_save {
	margin-left: 10px;
}
