fieldset {
	margin: 10px;
	background-color: #efefef;
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

legend {
	padding-left: 6px;
	padding-right: 6px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #454545;
}

#button_save {
	margin-left: 10px;
}

#registry {
	-moz-border-radius: 2px; 
	width: 100%; 
	background: #ddd;
}

#registry tfoot,
#registry thead {
	background: #ffffff;
}

#registry tr > td {
	border-bottom: 1px solid #ccc; 
}


#currency_options {
	margin: 10px;
	margin-bottom: 0;
}

#currency {
	-moz-border-radius: 2px; 
	width: 100%; 
	background: #ddd;
}

#currency tr > td {
	padding: 6px;
}

#currency tfoot,
#currency thead {
	background: #efefef;
}