.user-card{
    background-color:$widgetbackground;
    position: relative;
    padding-left:120px;
    height:120px;
    @include border-radius(4px);
    margin-bottom:25px;
}
.user-card ul{
    padding:15px;
    margin:0;
    list-style: none;
}
.user-card .name{
    font-size:1.5em;
    margin-bottom:15px;
}
.user-card .website{
    font-size:0.725em;
}
.user-card .location,
.user-card .adress{
    font-size:0.725em;
}
.user-card .adress{
}
.user-card img{
    position: absolute;
    left:0;
    top:0;
    @include border-left-radius(4px);
    width: 120px;
}