#tools_form {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;	
}

#tools_form input {
	border: 1px solid #ccc;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.OSClass {
	background-color: #ddd;
	padding: 2px;
}
